#start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#start-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#game {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-columns: auto;
  align-content: center;
}

.card-wrapper:hover {
  cursor: pointer;
}

.card-item {
  width: 100px;
  height: 100px;
  margin: 0px 14px 0px 14px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-item.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  transition: 1s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.front {
  background-color: lightslategray;
}

.back {
  transform: rotateY(180deg);
  background-color: #f9f9f9;
}

.back > img {
  height: auto;
  max-width: 100%;
}

.modal-card-foot {
  justify-content: center;
}
